
.navbar {
  background-color: #26a69a;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.navbar-button {
  color: white;
  height: 100%;
  background-color: #24c7b7;
  border-radius: 10px;
  border: 2px solid white;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-link {
  text-decoration: none; /* Usunięcie domyślnego podkreślenia linku */
  color: inherit; /* Dziedziczenie koloru tekstu od rodzica */
  cursor: pointer; /* Zmiana kursora na wskazujący na linki */
  margin-right: 30px;
}

.navbar-link:hover {
  text-decoration: underline; /* Podkreślenie linku przy najechaniu myszką */
}